/*
 * Header */

header.site-head {
    color: #fff;
    display: table;
    height: 55%;
    max-height: 450px;
    min-height: 300px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 2px 0 #111;
    width: 100%;
}

header.site-head .bg-image {
    background: url( '../img/bg-bookshelf.jpg' );
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 450px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header.site-head .overlay {
    border-top: 4px solid #007db6;
    background: rgba( 0, 0, 0, 0.3 );
    position: relative;
    z-index: 2;
}

header.site-head .blog-logo img {
    border: 3px solid #fff;
    border-radius: 4px;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

h1.blog-title {
    font-size: 56px;
    margin: 30px 0;
}

h2.blog-description {
    line-height: 1.5em;
    margin: 0 auto;
    width: 750px;
    background: rgba( 0, 0, 0, 0.3 );
    text-shadow: 0 1px 0 #222;
    padding: 10px;
    border-radius: 4px;
}

    h2.blog-description a {
        color: #fff;
    }

    h2.blog-description span {
        display: block;
    }


/*
 * Mobile Menu */

section.mobile-menu {
    background: #333;
    color: #fff;
    display: none;
}

    section.mobile-menu ul {
        border-top: 4px solid #2a7e81;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        section.mobile-menu.post ul {
            border-bottom: 4px solid #111;
        }

    section.mobile-menu li {
        border-bottom: 3px solid #585858;
        margin: 0;
        padding: 0;
    }

        section.mobile-menu li:last-child {
            border: none;
        }

    section.mobile-menu a {
        color: #fff;
        display: block;
        padding: 6px 10px;
    }

    section.mobile-menu a:hover {
        background: #282828;
        color: #fff;
    }

.mobile-burger {
    display: none;
}


/*
 * Main */

main.home {
    background: #fff;
    padding-bottom: 30px;
    padding-top: 35px;
    position: relative;
    z-index: 2;
}
main.home section {
    position: relative;
}

/*
 * Navigation */

nav.header-nav {
    float: right;
}
nav.header-nav ul {
    margin: 0;
}
nav .node {
    border-top: 5px solid #f9f9f9;
    display: block;
    float: right;
    font-size: 15px;
}
nav .node.active {
    border-color: #383838;
}
nav .node.active:hover {
    border-color: #111;
}
nav .node.link {
    margin-left: 15px;
    margin-bottom: -20px;
    padding-top: 32px;
    padding-bottom: 20px;
}
nav .node.link:hover .menu {
    display: block;
}
nav .node.btn {
    line-height: 19px;
    margin-left: 17px;
    padding-top: 33px;
}
nav .top-menu {
    margin: 0;
}
nav .menu {
    background: rgba(25, 25, 25, 0.9);
    color: #f5f5f5;
    display: none;
    padding: 8px;
    position: absolute;
    margin-left: -64px !important;
    top: 70px;
    z-index: 100;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
nav .menu:after {
    border-color: transparent transparent rgba(25, 25, 25, 0.9) transparent;
    border-style: solid;
    border-width: 10px;
    content: '';
    display: block;
    height: 0;
    left: 74px;
    position: absolute;
    top: -20px;
    width: 0;
}
nav .menu.solutions {
    margin-left: -38px !important;
}
nav .menu.solutions:after {
    left: 58px;
}
nav .menu .item {
    cursor: pointer;
    display: block;
    line-height: 19px;
    padding: 4px 6px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
nav .menu .item:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}
nav .menu a {
    color: #f5f5f5;
    display: block;
}


/*
 * Post list */

article.preview {
    margin: 0 0 10px;
    padding: 0 0 10px;
}

    article.preview:last-child {
        border: none;
    }

    article.preview .preview-icon {
        float: left;
    }

    article.preview .post-header,
    article.preview .post-excerpt {
        margin-left: 64px;
    }

    article.preview .post-meta {
        color: #888;
    }

    article.preview .post-title {
        font-size: 28px;
        margin-bottom: 8px;
        padding: 5px 0 0;
    }

    article.preview .post-excerpt p {
        font-size: 16px;
        line-height: 1.7em;
    }


/*
 * Side */

.post-caption input:focus {
    border: 1px solid #007db6;
    outline: none;
}