/*
 * Header */

header.site-head {
    background: url( '../img/bg-bookshelf.jpg' ) 50% 50% no-repeat;
    background-size: cover;
    border-top: 4px solid #007db6;
    color: #fff;
    display: table;
    height: 55%;
    max-height: 450px;
    min-height: 300px;
    margin: 0 0 30px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 2px 0 #111;
    width: 100%;
}

header.site-head .overlay {
    background: rgba( 0, 0, 0, 0.3 );
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

h1.blog-title {
    font-size: 56px;
    margin: 35px 0 30px;
}

h2.blog-description {
    line-height: 1.5em;
    margin: 0 auto;
    width: 750px;
    background: rgba( 0, 0, 0, 0.3 );
    text-shadow: 0 1px 0 #222;
    padding: 10px;
    border-radius: 4px;
}

/*
 * Navigation */

nav.header-nav {
    float: right;
}
nav.header-nav ul {
    margin: 0;
}
nav .node {
  border-top: 5px solid #f9f9f9;
  display: block;
  float: right;
  font-size: 15px;
}
nav .node.active {
  border-color: #383838;
}
nav .node.active:hover {
  border-color: #111;
}
nav .node.link {
  margin-left: 15px;
  margin-bottom: -20px;
  padding-top: 32px;
  padding-bottom: 20px;
}
nav .node.link:hover .menu {
  display: block;
}
nav .node.btn {
  line-height: 19px;
  margin-left: 17px;
  padding-top: 33px;
}
nav .top-menu {
  margin: 0;
}
nav .menu {
  background: rgba(25, 25, 25, 0.9);
  color: #f5f5f5;
  display: none;
  padding: 8px;
  position: absolute;
  margin-left: -64px !important;
  top: 70px;
  z-index: 100;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
nav .menu:after {
  border-color: transparent transparent rgba(25, 25, 25, 0.9) transparent;
  border-style: solid;
  border-width: 10px;
  content: '';
  display: block;
  height: 0;
  left: 74px;
  position: absolute;
  top: -20px;
  width: 0;
}
nav .menu.solutions {
  margin-left: -38px !important;
}
nav .menu.solutions:after {
  left: 58px;
}
nav .menu .item {
  cursor: pointer;
  display: block;
  line-height: 19px;
  padding: 4px 6px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
nav .menu .item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
nav .menu a {
  color: #f5f5f5;
  display: block;
}


/* Home page
 */