/*
 * Header */
 
section.post-header-wrapper {
    background: #f9f9f9;
    padding: 0 0 40px;
}

    .post-header .blog-logo {
        color: #333;
        font-family: Signika, "Trebuchet MS", Tahoma, Verdana, 
            Arial, Helvetica, sans-serif;
        font-size: 28px;
    }

    .post-header .logomark {
        position: relative; 
        top: 24px;
    }

    .post-header .logotext {
        left: 4px;
        position: relative;
        top: 10px;
    }

section.blog-caption-wrapper {
    background: rgba(255,255,255,0.9);
    border-top: 3px solid #359fa3;
    color: #484848;
    margin-bottom: 30px;
    padding: 12px 0;
    width: 100%;
    z-index: 1;
}

aside.post-caption-wrapper {
    position: absolute;
    right: 0;
    width: 200px;
}

    .post-caption {
        line-height: 1.5em;
    }

    .circle {
        color: #fff;
        font-size: 24px;
        height: 48px;
        line-height: 45px;
        margin-bottom: 20px;
        text-align: center;
        width: 48px;
        border-radius: 24px;
    }

    .blue.circle {
        background: #007db6;
    }

    .bottom {
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .subscribe-button {
        display: inline-block;
        margin: 10px 0 0;
        padding: 4px 10px !important;
    }


/* 
 * Posts */

article {
    margin: 0 auto;
    padding-right: 250px;
    position: relative;
    width: 670px;
}

time.post-date,
.title {
    color: #888;
}

section.byline {
    line-height: 1.8em;
    padding: 10px 0 25px;
}
