/*
 * Header */

section.post-header-wrapper {
    background: #f9f9f9;
    padding: 0 0 40px;
}

    .post-header .blog-logo {
        color: #333;
        font-family: Signika, "Trebuchet MS", Tahoma, Verdana,
            Arial, Helvetica, sans-serif;
        font-size: 28px;
    }

    .post-header .logomark {
        position: relative;
        top: 24px;
    }

    .post-header .logotext {
        left: 4px;
        position: relative;
        top: 10px;
    }

section.blog-caption-wrapper {
    background: #fff;
    border-top: 4px solid #359fa3;
    border-bottom: 2px solid #fff;
    color: #484848;
    margin-bottom: 30px;
    padding: 12px 0;
    width: 100%;
    z-index: 1;
}

section.post-excerpt {
    padding: 10px 0 5px;
}

aside.post-caption-wrapper {
    position: absolute;
    right: 0;
    width: 200px;
}

    aside.post-caption-wrapper.post {
        top: 0;
    }

    .post-caption {
        line-height: 1.5em;
    }

        .post-caption h3 {
            font-size: 18px;
            text-transform: uppercase;
        }

    .circle {
        background: #484848;
        color: #fff;
        font-size: 24px;
        height: 48px;
        margin-bottom: 20px;
        text-align: center;
        width: 48px;
        border-radius: 24px;
    }

        .circle .fa {
            line-height: 50px !important;
        }

        .category-icon {
            float: left;
            margin: 0 10px 0 0;
        }

    .blue.circle { background: #007db6; }
    .teal.circle { background: #359fa3; }
    .red.circle { background: #b94f3c; }
    .green.circle { background: #2ba02b; }
    .purple.circle { background: #ab51c4; }
    .orange.circle { background: #d1712d; }

    .bottom {
        padding-bottom: 30px;
    }

    .subscribe-button {
        display: inline-block;
        margin: 10px 0 30px;
        padding: 4px 10px !important;
    }

        .subscribe-button.home {
            margin-bottom: 10px;
        }

    .categories {
        padding: 12px 0 40px;
        text-align: center;
    }

    .post-caption .search {
        margin-top: 10px;
        width: 100px;
        height: 28px;
        top: 1px;
        position: relative;
    }

    .subscribe {
        text-align: center;
    }

        .subscribe p {
            margin: 15px 0;
        }

    .share {
        margin: 0 auto;
        width: 140px !important;
    }


/*
 * Posts */

article {
    margin: 0 auto;
    padding-right: 250px;
    position: relative;
    width: 670px;
}

time.post-date,
.title {
    color: #888;
}

section.byline,
blockquote {
    border-left: 4px solid #ddd;
    line-height: 1.7em;
    margin: 25px 0 30px;
    padding: 0 0 0 15px;
}

section.comments {
    padding: 25px 0 30px;
}

section.post-content h2 {
    margin: 25px 0 15px;
    color: #666;
}

section.post-content p {
    margin: 15px 0;
}

    section.post-content p:first-child {
        margin-top: 0;
    }

section.post-content p img {
    max-width: 670px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px -1px #ddd;
    border-radius: 3px;
    padding: 3px;
}

.pagination a {
    display: inline-block;
    margin: 0 1px;
}